**/*.61.nc
**/*.62.nc
**/*.63.nc
**/*.64.nc
**/*.67.nc
**/*.68.nc
**/*.71.nc
**/*.72.nc
**/*.73.nc
**/*.74.nc
**/PE*
**/*swan_*
**/max*
**/*_test/
**/*_test2/
**/*_subdomain/
*.tif
**/*.tif
analysis/animation/
ch2-resilience/grid_setup/datasets/*.nc
